
.loginbox{
	width: 700px;
	height: 1000px;
	background: #000;
	color: #fff;
	top: 1100px;
	left: 750px;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 90px 100px;
}



.user {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top:-50px;
	left: 300px;

}

h1
{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 35px;
}

.loginbox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
}

.loginbox input
{
	width: 100%;
	margin-bottom: 22px;
}

.loginbox input[type ="FirstName"],input[type ="LastName"],input[type ="UserName"],input[type ="Email"],input[type ="password"],input[type ="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 15px;
	display:flex;
	flex-wrap: wrap;
}

.loginbox input[type ="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background:#fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type ="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a
{
	text-decoration: none;
	font-style: 12px;
	line-height: 12px;
	color: darkgrey;
	text-align: center;
}

.loginbox a:hover
{
	color: #ffc107;
}

